body,
.wrap {
  height: 100%;
  width: 100%;
  min-width: 720px;
  min-height: 800px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Averia Libre', cursive;
  font-size: larger;
}

.wrap {
  min-height: calc(100vh - 80px);
}

.btn {
  display: inline-block;
  background: #ba9125;
  color: #fff;
  padding: 1rem 1.5rem;
  text-decoration: none;
  border-radius: 3px;
  text-align: center;
  border-width: 0;
  margin: 1rem 0;
  width: 50%;
  box-sizing: border-box;
}

header>.btn {
  display: flex;
  margin: 0 2rem;
  align-self: stretch;
  justify-content: center;
  align-items: center;
  background-color: #100D0D;
  border-radius: 0;
  font-size: xx-large;
}

header>.btn:hover {
  background-color: #ba9125;
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 80%;
  margin: 1rem 0;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
}

input {
  width: 100%;
}

label,
input {
  margin: 5px 0;
}

input {
  height: 2.5rem;
}

header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  background-color: #100D0D;
}

.logo {
  width: auto;
  max-height: 100px;
  margin: 2rem;
}


footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 100%;
  min-height: 50px;
  background-color: #100D0D;
  max-height: 80px;
}

@keyframes moving {
  50% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(10deg);
  }
}

.logo:hover {
  animation-name: moving;
  animation-duration: 0.3s;
  animation-iteration-count: 4;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.grave-pic {
  height: auto;
  max-width: 400px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 2rem;
  padding: 1rem;
}

.card a {
  text-decoration: none;
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.buttons>.btn {
  margin: 0 1rem;
}

.spoopy {
  background-color: #100D0D;
}

.single-grave {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  z-index: 99;
  padding: 30px 0;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-wrap {
  flex-shrink: 0;
  flex-grow: 0;
  width: 60%;
  min-height: 100%;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.modal-window {
  position: fixed;
  margin: 50px 0;
  flex-shrink: 0;
  flex-grow: 0;
  background: #fff;
  width: 50%;
  overflow: hidden;
  transition: transform 0.2s ease 0s, opacity 0.2s ease 0s;
  transform: scale(0.9);
}

.modal-opened {
  position: fixed;
  right: 0;
  left: 0;
  overflow: hidden;
}

.error {
  color: #C0392B;
  font-size: large;
  text-align: center;
}


@media (max-width: 1024px) {
  .form {
    width: 90%;
  }

  .modal-window {
    min-width: 585px;
    width: 100%;
  }

  header>.btn {
    font-size: large;
  }
}
