<div class="container">
  <h1>Oh, that`s spooky!</h1>
  <h2>Something went dooty...</h2>
  <img src="/img/404.jpg" alt="Oooops, 404 💀">
  <a class="btn" href="/">Please, take me home</a>


  <h2>{{error.status}}</h2>
  <pre>{{error.stack}}</pre>
</div>
