<script defer src="/scripts/signup.js"></script>

<div class="container">
  <form class="form" action="/signup" method="POST" name="signUp">
    <div class="form input">
      <div class="container sub">
        <label for="name">Username:</label>
        <input type="text" name="name" placeholder="Input your username here">
      </div>
      <div class="container sub">
        <label for="email">Email:</label>
        <input type="email" name="email" minlength="4" placeholder="Input your email here">
      </div>
      <div class="container sub">
        <label for="password">Password:</label>
        <input type="password" name="password" minlength="8" placeholder="Create your password here">
      </div>
      <div class="container sub">
        <label for="passwordConfirm">Confirm password:</label>
        <input type="password" name="passwordConfirm" minlength="8" placeholder="Confirm your password">
      </div>
    </div>
    <div class="btn-container">
      <button class="btn" type="submit">Submit</button>
      <a class="btn spoopy" href="/signin">Sign In</a>
    </div>
  </form>
</div>
