<script defer src="/scripts/signin.js"></script>

<div class="container">
  <form class="form" action="/signin" method="POST" name="signIn">
    <div class="form input">
      <div class="container sub">
        <label for="email">Email:</label>
        <input type="email" name="email" minlength="4" placeholder="Input your email here">
      </div>
      <div class="container sub">
        <label for="password">Password:</label>
        <input type="password" name="password" minlength="8" placeholder="Input your password here">
      </div>
      <div class="btn-container">
        <button class="btn" type="submit">Submit</button>
        <a class="btn spoopy" href="/signin/federated/google">Sign in with Google</a>
        <a class="btn spoopy" href="/signup">Sign Up</a>
      </div>
    </div>
  </form>
</div>
