<div class="container">
  <form class="form" action="/signup" method="POST">
    <div class="form input">
      <div class="container sub">
        <label for="username">Email:</label>
        <input type="email" name="email" minlength="4" placeholder="Input your email here">
      </div>
      <div class="container sub">
        <label for="username">Password:</label>
        <input type="password" name="password" minlength="8" placeholder="Create your password here">
      </div>
      <div class="btn-container">
        <button class="btn" type="submit">Submit</button>
        <a class="btn" type="button" href="/signup">Sign Up</a>
      </div>
  </form>
</div>
