<header>
  <img class="logo" src="/img/logo.png" alt="Here is our logo">
  <a class="btn" href="/signin">Sign in</a>
  <a class="btn" href="/signup">Sign up</a>
  <a class="btn" href="/profile">Hello, Mr. Spooky Dooty {{username}}</a>
  <a class="btn" href="/logout">Logout</a>
</header>
